.about-me{
    text-align: center;
    font-size: large;
    font-weight: bold;
    
    
    
}
.about-me nav{
    padding: 20px;
    padding-left: 900px;
    text-decoration: blue;
    margin-bottom: 5%;  
}
#SKills{
    background-color: grey;
display: flex;
justify-content: center;
align-items: center;

}
#contact-details{
background-color: grey;
display: flex;
justify-content: center;
align-items: center;}