body{
    background-color: #add8e6;
    
}
#about-me{
    text-align: center;
    font-size: large;
    font-weight: bold;
    

    }
#about-me nav{
    padding: 20px;
    padding-left: 900px;
    text-decoration: blue;
    margin-bottom: 5%;  
}
#project{
    text-align: center;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #add8e6;
}
#project~h1{
    font-size: 30px;
}
#SKills{
background-color: #add8e6;
display: flex;
justify-content: center;
align-items: center;
padding-right: 300px;


}
#contact-details{
background-color: grey;
display: flex;
justify-content: center;
align-items: center;
padding-right: 150px;}